:root{
  --xiketic: #03071eff;
  --dark-sienna: #370617ff;
  --rosewood: #6a040fff;
  --dark-red: #9d0208ff;
  --rosso-corsa: #d00000ff;
  --vermilion: #dc2f02ff;
  --persimmon: #e85d04ff;
  --tangerine: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;
}

$xiketic: #03071eff;
$dark-sienna: #370617ff;
$rosewood: #6a040fff;
$dark-red: #9d0208ff;
$rosso-corsa: #d00000ff;
$vermilion: #2DC653;
$persimmon: #e85d04ff;
$tangerine: #f48c06ff;
$orange-web: #faa307ff;
$selective-yellow: #ffba08ff;
