@use 'src/mixins' as *;

@font-face {
    font-family: plento;
    src: url( './../assets/fonts/PLENTO.ttf' );
}

.app-base{
    background-color: $xiketic;
    min-height: 100vh;
}

.page-part{
    p{
        background-color: $vermilion;
        color: $cultured;
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        font-weight: 600;
        clip-path: polygon( 0% 5%, 0% 40%, 10% 30%, 0% 55%, 5% 100%, 90% 100%, 100% 90%, 100% 60%, 95% 50%, 100% 40%, 100% 20%, 95% 0%, 0% 0%  );

        span{
            font-family: plento;
        }

        @media screen and ( max-width: 768px ) {
            font-size: 1.8em;
        }
    }
}