@use 'src/mixins' as *;

.item-list-head{
    .item-list-icon{
        height: 65px;
        width: 65px;
        border-radius: 100%;
        background-color: $xiketic;
        color: $vermilion;

        i{
            font-size: 25px;
        }
    }

    p{
        font-size: 1.3em;
        color: $vermilion;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }

    @media screen and ( max-width: 768px ) {
        .item-list-icon{
            height: 45px;
            width: 45px;

            i{
                font-size: 20px;
            }
        }

        p{
            font-size: 1.1em;
        }
    }
}

.item-list-sort{
    .item-list-sort-brand{
        font-weight: 600;
        color: $xiketic;
        letter-spacing: 0.15em;

        i{
            font-size: 25px;
        }
    }

    .content-form-sort{
        max-width: 150px;

        input{
            height: 45px;

            &:focus{
                box-shadow: none !important;
                border-color: $xiketic !important;
                +label{
                    color: $xiketic;
                }
            }

            +label{
                padding-top: 10px;
            }
        }
    }
}

.item-list-manager{
    overflow: auto;

    &::-webkit-scrollbar{
        height: 6px;
        background-color: $cultured-2;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $xiketic;
        border-radius: 10px;
    }

    .item-list-scroller{
        min-height: 130px;
        min-width: 100%;

        table{
            border-radius: 8px;
            overflow: hidden;
            background-color: $cultured;

            thead, tbody{
                border: none;

                th:first-child{
                    max-width: 50px !important;
                    min-width: 50px !important;
                }
            }

            thead th{
                line-height: 50px;
                white-space: nowrap;
            }

            th, td{
                min-width: 120px;
                text-align: center;
                line-height: 40px;
            }

            th{
                background-color: $xiketic;
                color: $vermilion;
                border: none;

                &:last-child{
                    border-bottom-right-radius: 8px;
                }
            }

            tr{
                border-color: $cultured-2 !important;
                transition-duration: 0.2s;

                th{
                    transition-duration: 0.2s;
                }

                &:hover{
                    background-color: $cultured-2;
                    cursor: pointer;

                    th:first-child{
                        font-size: 1.5em;
                        background-color: $vermilion;
                        color: $xiketic;
                    }
                }
            }

            tbody{
                tr:last-child{

                    th:first-child{
                        border-bottom-right-radius: 8px;
                    }

                    td, th{
                        border: none;
                    }
                }
            }
        }
    }
}