@use 'src/mixins' as *;

.root-container{
    max-width: 800px;

    .content-error{
        background-color: $xiketic;
        border-radius: 5px;
        color: $vermilion;

        i{
            font-size: 140px;
        }

        p{
            font-size: 2.5em;
            text-transform: uppercase;
        }
    }
}